* {
    box-sizing: border-box;
}
  

body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.empty{
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 1px black;
    background-color: #aaa;
    transition: background-color 0.2s ease;
}
.fill{
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}


.hold {
    border: solid 1px #ccc;
}
.hovered{
    background-color: #444;
    border-color: #fff;
}